@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');


.game-container{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    
    .navBar{
        border: 1px solid red;
    }
     .game-map{
        // border: 1px solid darkgreen;
        width: 80%;
        height: 100vh;
        background-color: black;

            .full-map{
                display: flex;
                justify-content: center;
                height: 100vh;
                align-items: center;
                
            }
    }

    .side-panel{
        width: 20%;
        height: 100vh;
        border: 1px dashed #c1f6ed;

            .room-info{
                height: 50%;
                background-color: black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2 {
                    color: #c1f6ed;
                    height: 25%;
                }

                p{
                    color: #c1f6ed;
                    height: 25%;
                }
            }

            .controls{
                // border: 1px solid red;
                height: 40%;
                display: flex;
                justify-content: space-between;
                background-color: #000000;
                font-family: 'Baloo Bhai', cursive;
                font-size: 30px;


                .panel{
                    // border: 1px solid black;
                    width: 100%;
                }
                .left-button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .north-south-buttons{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 0 20px 0;
                }
                .right-button{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .buttons{
                    color: #c1f6ed;
                    background-color: #02343c;
                    border: 1px solid #c1f6ed;
                    width: 2em;
                    height: 2em;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
                .buttons:hover{
                    color: #000000;
                    background-color: #808080;
                    border: 1px solid black;
                    cursor: pointer;
                    transition: 0.3s ease-in;
                }
            }
            .LogOut{
                height: 10%;
                background-color: #000000;
                display: flex;
                align-items: center;
                justify-content: center;
                .button{
                    background-color: #02343c;
                    border: 1px solid #c1f6ed;
                    color: #c1f6ed;
                    padding: 10px 30px;
                    cursor: pointer;
                }
                .button:hover{
                    color: #000000;
                    background-color: #808080;
                    border: 1px solid black;
                    cursor: pointer;
                    transition: 0.3s ease-in;
                }
            }
    }
}

// .full-map{
//     padding:50px;
// }


