body{
    margin: 0px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02353C;

    min-height: 100vh;
    min-width: 100vw;
}

.userForm {
    background-color: #C1F6ED;
    box-shadow: 0 13px 10px 15px rgba(63, 208, 201, 0.2);
    width: 400px;
    height: auto;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 1.5em;
}
.userForm h1{
    width: 100%;
}
.userForm .enterform {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5em;
}

.userForm Form {
    display: flex;
    flex-direction: column;
    width: 10vw;
    
    .item {
        display: flex;
        justify-content: space-evenly;
    }
    input{
        width: 15.5em;
        padding-left:0.4em;
        height: 1.5em;
        border-radius: 3px;
        border: 0.5px solid rgb(211,211,211);
        background-color: rgb(245,245,245)
    }
    p{
        font-size: .7em;
    }
    button{
        font-size: 0.9em;
        margin-top: 0.5em;
        width: 7em;
        height: 2.25em;
        border: none;
        border-radius: 7px;
        background-color: #02353C;
        color: rgb(245,245,245);
        border: 0.1em solid rgba(211,211,211, 0.15);
    }

    button:hover{
        color: black;
        background-color: #808080;
        border: 0.1em solid #C1F6ED;
        cursor: pointer;
        transition: 0.3s
    }
}
